@model EntityLater.Concrete.Services
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">

				<b> <h3 class="card-description"> Proje Düzenleme Paneli </h3></b>
				<form class="forms-sample">
    @Html.HiddenFor(x => x.ServiceID)
    <br />

    <b> @Html.Label("Hizmet Başlığı")</b>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label><strong>Resim Yolu</strong></label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-succsess">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}